{% load staticfiles %}


<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <title>Geomatics...</title>
  <meta name="description" content="Description of your site goes here">
  <meta name=
  "keywords" content="keyword1, keyword2, keyword3">
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="main-wraper">
<div id="top-wraper">
<div id="banner">geomatics</div>
<div id="nav">
<ul>
  <li><a href="#">Home</a></li>  
  <li><a href="myindex.html">Recent </a></li>
  <li><a href="/contacts/my_contact_form.html" >Email</a></li>
  <li><a href=" map.html?lat=-45.87&lon=169.89 ">Map</a></li>
  <li><a href="filelist.html">Filelist</a></li>
  <li><a href="/home/home.txt">myhomeFilelist</a></li>
  <li><a href="file://localhost/sdcard/out ">mySdcard</a></li>
  <li><a href="about.html">About us</a></li>
  
  
</ul>
</div>
</div>
<br>

<br>



<!-- start of freefind search box html -->
<table cellpadding=0 cellspacing=0 border=0 >
<tr>
	<td  style="font-family: Arial, Helvetica, sans-serif; font-size: 12pt;">
		<form style="margin:0px; margin-top:40px;" action="http://search.freefind.com/find.html" method="get" accept-charset="utf-8" target="_self">
		<input type="hidden" name="si" value="96729988">
		<input type="hidden" name="pid" value="r">
		<input type="hidden" name="n" value="0">
		<input type="hidden" name="_charset_" value="">
		<input type="hidden" name="bcd" value="&#247;">
		<input type="text" name="query" size="50"> 
		<input type="submit" value="search">
		</form>
	</td>
</tr>
<tr>
	<td style="text-align:left; font-family: Arial, Helvetica, sans-serif;	font-size: 12pt; padding-top:4px;">
		<a style="text-decoration:none; color:gray;" href="http://www.freefind.com" >search engine</a><a style="text-decoration:none; color:gray;" href="http://www.freefind.com" > by
		<span style="color: #606060;">freefind</span></a>
	</td>

</tr>
</table>
<!-- end of freefind search box html -->


<div id="mid-wraper">
<div class="mid-wraper-top">
<div class="mid-leftouter">
<div class="mid-left-container">
<h1>Welcome to <span class="yellow-heading">our website</span></h1>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting
industry. Lorem Ipsum has been the industry's standard dummy text ever
since the 1500s, when an unknown printer took a galley of type and
scrambled it to make a type specimen book. It has survived not only
five centuries, but also the leap into electronic typesetting,
remaining essentially unchanged.<br>
<br>
</p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting
industry. Lorem Ipsum has been the industry's standard dummy text ever
since the 1500s, when an unknown printer took a galley of type and
scrambled it to make a type specimen book. It has survived not only
five centuries.</p>
<p class="left-bullet">Lorem Ipsum is that it has a more-or-less normal
distribution of letters, as opposed to using</p>
<p class="left-bullet">Lorem Ipsum is that it has a more-or-less normal
distribution of letters, </p>
<p class="left-bullet">Lorem Ipsum is that it has a more-or-less normal</p>
<p class="left-bullet">Lorem Ipsum is that it has a more-or-less normal
distribution of letters, as opposed to</p>
</div>
<div class="mid-left-container" style="margin-top: 10px;">
<div class="inner-left">
<h2>About <span class="yellow-heading">us</span></h2>
<div style="border-right: 1px solid rgb(153, 153, 153); width: 294px; float: left; padding-right: 12px;">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting
industry. Lorem Ipsum has been the industry's standard dummy text ever
since the 1500s, when an unknown printer took.<br>
<br>
</p>
<p>Galley of type and scrambled it to make a type specimen book. It has
survived not only five centuries, but also the leap into electronic
typesetting, remaining.<br>
<br>
</p>
<strong><a href="#" class="read-more">read more...</a></strong></div>
</div>
<div class="inner-right">
<h2>Recent <span class="yellow-heading">Articles</span></h2>
<div style="width: 290px; float: left; padding-left: 8px;">There are
many variations of passages of Lorem Ipsum available, but the majority
have suffered alteration in some form, by injected humour, or
randomised words which don't look even slightly believable. If you are
going to use a passage of Lorem Ipsum, you need to be sure there isn't
anything embarrassing hidden in the middle of text. you need to be sure
there isn't.<br>
<br>
<strong><a href="#" class="read-more">read more...</a></strong></div>
</div>
</div>
</div>
<div class="right-container">
<div class="right-container-top">
<h3>Categ<span class="yellow-heading">ories</span></h3>
<ul>
  <li><a href="#">Lorem Ipsum is simply dummy</a></li>
  <li><a href="#">Lorem Ipsum is</a></li>
  <li><a href="#">Lorem Ipsum</a></li>
  <li><a href="#">Lorem Ipsum is simply dummy</a></li>
  <li><a href="#">Lorem Ipsum is simply</a></li>
  <li><a href="#">Lorem Ipsum is simply </a></li>
  <li><a href="#">Lorem Ipsum is simply dummy</a></li>
  <li><a href="#">Lorem Ipsum is</a></li>
</ul>
</div>
<div class="right-container-dwn">
<h4>News</h4>
<strong>15.04.2010</strong> Lorem Ipsum is simply dummy text of the
printing and typesetting industry. Lorem Ipsum has been. <br>
<br>
<strong>15.04.2010</strong> Lorem Ipsum is simply dummy text of the
printing and typesetting industry. Lorem Ipsum has been.<br>
<br>
<strong><a href="#" class="read-more-right">read more...</a></strong> </div>
</div>
</div>
<div class="mid-wraper-bttm"><img src="images/mid-bttm.jpg" alt=""></div>
</div>

<form accept-charset="UTF-8" action="http://www.jrank.org/api/search/v2" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /></div>
<fieldset style="border: 1px solid rgb(175, 175, 175); display: inline;">
 <legend><a href="http://www.jrank.org/" style="font-size: 12pt; font-family: Arial, sans-serif;">Site Search</a></legend>
 <a href="http://www.jrank.org/"><img alt="Site Search" src="http://www.jrank.org/images/jrank_88_31-fs8.png" style="border: none; vertical-align: middle;" title="Site Search" /></a>
 <input id="key" name="key" type="hidden" value="936f7328168bd092f4ececcea2b1d569dd5130bd" />
 <input name="ie_utf8_fix" type="hidden" value="☠" />
 <input id="q" name="q" style="display: inline; vertical-align: middle;" type="text" value="" />
 <input name="commit" style="display: inline; vertical-align: middle;" type="submit" value="Search" />
</fieldset>
</form>




<div class="footer">
<div class="footer-side"><a href="#">Home</a> <a href="#">About us</a> <a href="#">Recent articles</a> <a href="#">Email</a> <a href="#">Resources</a>
<a href="#">Links</a></div>
<!--DO NOT Remove The Footer Links-->
<!--Designed by--><a target="_blank" href="http://www.htmltemplates.net">
<img src="images/design.gif" class="copyright" alt="htmltemplates.net"></a>
<div class="footer-right">&copy; Copyright 2014. Designed by <a target="_blank" href="http://www.htmltemplates.net">htmltemplates.net</a>
<!--DO NOT Remove The Footer Links-->

</div>
</div>
</div>

</body></html>